{% extends 'base.html' %}

{% block body_block %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Список студентов</h1>
          <br>
          <div class= "py-3">
            <form action="/add">
              <button>Добавить нового студента</button>
            </form>
          </div>
        <div class = "py-4">
          <form method = "POST" action="/home/">
            {% csrf_token %}
            <p> Выберите фильтр:
              <select name="filter_by">
                <option selected value="filter_by_teacher">Учитель</option>
                <option selected value="filter_by_subject">Предмет</option>
                <option selected value="filter_by_book">Зачетка</option>
              </select>
              <p>
                <input maxlength="50" size="20" onfocus="this.value=''"  name="text_form">
              </p>
            </p>
            <p><input type="submit" value="Вывести" name="filter_button"></p>
          </form>
        </div>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
          {% for student in students %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#549174"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">
              <a href="/update/{{student.id}}">{{student.name}} {{student.surname}}</a>
            </text></svg>

            <div class="card-body">
              <p class="card-text">
                Subject: {{student.subject.name_of_subject}}
                <br>
                {% if student.teacher_set.all %}
                    {% for teacher in student.teacher_set.all %}
                      Teacher: {{ teacher.name }} {{ teacher.surname }}
                    {% endfor %}
                    <br>
                {% endif %}
                Book: {{student.book.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if student.social_url %}
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location='{{student.social_url}}'">View</button>
                  {% endif %}
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location='/update/{{student.id}}'">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}

      </div>
    </div>
  </div>


</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



{% endblock %}
