{% extends 'base.html' %}

{% block body_block %}

<div class="container">
  <main>
    <div class="py-4 text-center">
      <img class="d-block mx-auto mb-4">
      <h2>Информация о студенте</h2>
    </div>

      <div class="col-md-7 col-lg-8">
          <div class="row g-3">
            <div class="col-sm-6">
                <form method = "POST" action="/update/{{student_id}}">
                {% csrf_token %}
                    {{ form }}
                    <div class="py-3">
                        <input type="submit">
                    </div>
                </form>
            </div>
          </div>
    </div>
  </main>
</div>

{% endblock %}
